.main{
  padding: 10px;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-left: dotted;
  border-right: dotted;
  border-bottom: dotted;
  overflow: auto;
}

.client{
  display: inline-block;
  width: 50%;
}
.vehicles{
  display: inline-block;
  height: auto;
  width: 50%;
  float: right;
}

.insc{
  width: 50%;
  height: 100%;
}
.vehicle-card{
  margin-bottom: 5px;
}
