<mat-form-field appearance="fill">
  <mat-label>Choose parameter</mat-label>
  <mat-select [formControl]="parameter">
    <mat-option [value]="'id'">
      id
    </mat-option>
    <mat-option [value]="'firstName'">
      name
    </mat-option>
    <mat-option [value]="'lastName'">
      surname
    </mat-option>
    <mat-option [value]="'birthday'">
      birthday
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Choose direction</mat-label>
  <mat-select [formControl]="backSort">
    <mat-option [value]="'.asc'">
      asc
    </mat-option>
    <mat-option [value]="'.desc'">
      desc
    </mat-option>
  </mat-select>
</mat-form-field>

<button class="btn btn-success" (click)="getPage()">Sort</button>

<form class="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text"
           placeholder="Start typing"
           aria-label="Name"
           matInput
           [formControl]="search"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let client"> {{client.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let client"> {{client.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
    <td mat-cell *matCellDef="let client"> {{client.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="birthday">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </th>
    <td mat-cell *matCellDef="let client"> {{client.birthday | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      (click)="onClick(row.id)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="pageEvent.length"
               [pageSize]="pageEvent.pageSize"
               [pageSizeOptions]="[5,10, 25]"
               (page)="onNext(pageEvent = $event)"
               aria-label="Select page">
</mat-paginator>
