<div class="main">
  <div class="client">
   <h2>
     Id: {{client.id}}
   </h2>
   <h2>
     Name: {{client.firstName}}
   </h2>
   <h2>
     Surname: {{client.lastName}}
   </h2>
   <h2>
     Birthday: {{client.birthday | date:'dd-MM-yyyy'}}
   </h2>

    <app-update-client></app-update-client>
    <app-delete-client [clientId]="client.id"></app-delete-client>
    <button class="btn btn-primary" (click)="openDialog()" style="margin-left: 10px;">Add insurance contract</button>

  </div>
  <div class="vehicles">
    <mat-form-field appearance="fill">
      <mat-label>Choose vehicle</mat-label>
      <mat-select [formControl]="vehicle">
        <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
          {{vehicle.color}} {{vehicle.engineSize}}  {{vehicle.yearOfManufacturer| date:'dd-MM-yyyy'}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="btn btn-success" (click)="addVehicleToClient()" style="margin-left: 5px;">Select new vehicle</button>
    <br>

    <mat-card class="vehicle-card" *ngFor="let vehicle of client.vehicles" [routerLink]="['/vehicle', vehicle.id]">
      <mat-card-title-group>
        <mat-card-title>Color: {{vehicle.color}}</mat-card-title>
        <mat-card-subtitle>Id: {{vehicle.id}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        Engine size: {{vehicle.engineSize}}
        <br>
        Year of manufacturer: {{vehicle.yearOfManufacturer | date:'dd-MM-yyyy'}}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="insc">
    <h2> Insurance contract</h2>

    <app-insurance-contract-client [clientId]="client.id"></app-insurance-contract-client>

  </div>
</div>

