<button class="btn btn-primary" (click)="triggerModal(modalData)">Add client</button>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new client</h4>
  </div>
  <div class="modal-body">
    <form style="width: 400px; margin-right: auto; margin-left: auto;">

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your name</mat-label>
          <input matInput [formControl]="first" required>
          <mat-error *ngIf="first.invalid">{{getFirstErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>


      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your surname</mat-label>
          <input matInput [formControl]="last" required>
          <mat-error *ngIf="last.invalid">{{getLastErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput type="date" name="birthday" [(ngModel)]="client.birthday">
      </mat-form-field>

    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="first.invalid || last.invalid || email.invalid || password.invalid" class="btn btn-success" (click)="addClient()">Add client</button>
    <button type="button" class="btn btn-danger" #closeB (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
