<h1 mat-dialog-title>Update vehicle</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput placeholder="{{data.color}}" [formControl]="color">
    <mat-error *ngIf="color.invalid">{{getColorErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Engine size</mat-label>
    <input matInput placeholder="{{data.engineSize}}" [formControl]="engineSize">
    <mat-error *ngIf="engineSize.invalid">{{getEngineSizeErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Weight</mat-label>
    <input matInput placeholder="{{data.weight}}" [formControl]="weight">
    <mat-error *ngIf="weight.invalid">{{getWeightErrorMessage()}}</mat-error>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button [disabled]="color.invalid || engineSize.invalid || weight.invalid" mat-button [mat-dialog-close]="data" (click)="onOkClick()">Ok</button>
</div>
