<div *ngIf="show">
<mat-card *ngFor="let kit of insuranceContract.insuranceKit" class="card">
  <mat-card-title-group>
    <mat-card-title>Damage level: {{kit.damageLevel}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    Duration: {{kit.duration}}
    <br>
    Compensation percent: {{kit.compensationPercent}}
    <br>
    Covered part: {{kit.coveredPart}}
  </mat-card-content>
</mat-card>
</div>
