<nav class="navbar navbar-expand navbar-dark bg-dark navbar-static-top">
  <div class="collapse navbar-collapse">
    <a class="navbar-brand">Client-vehicle DB</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="/list/client">Clients</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/list/vehicle">Vehicles</a></li>
      <li class="nav-item"><app-add-client></app-add-client></li>
      <li class="nav-item">
        <button class="btn btn-light" (click)="openDialog()">
          Add Vehicle
        </button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
