.main{
  padding: 10px;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-left: dotted;
  border-right: dotted;
  border-bottom: dotted;
  overflow: auto;
}

.vehicle{
  display: inline-block;
  width: 50%;
}
.client{
  display: inline-block;
  width: 50%;
  float: right;
}

.card{
  width: 200px;
}

