<div class="main">


  <div  class="vehicle">
    <h2>Id: {{vehicle.id}} </h2>
    <br>
    <h2>Color: {{vehicle.color}}</h2>
    <br>
    <h2>Engine size: {{vehicle.engineSize}}</h2>
    <br>
    <h2>Weight: {{vehicle.weight}}</h2>
    <br>
    <h2>Year of manufacturer: {{vehicle.yearOfManufacturer | date:'dd-MM-yyyy'}}</h2>
    <br>
    <button class="btn btn-warning" (click)="openDialog()" style="margin-right: 5px;">Update Vehicle</button>
    <app-delete-vehicle [vehicleId]="vehicle.id"></app-delete-vehicle>
  </div>


  <div class="client" *ngIf="vehicle.client">
    <mat-card class="card" [routerLink]="['/client', vehicle.client.id]">
      <mat-card-title-group>
        <mat-card-title><h1>Owner</h1></mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <h4>Id: {{vehicle.client.id}}</h4>
        <h4>Name: {{vehicle.client.firstName}}</h4>
        <h4>Surname: {{vehicle.client.lastName}}</h4>
        <h4>Birthday: {{vehicle.client.birthday | date:'dd-MM-yyyy'}}</h4>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="insc" *ngIf="show">
    <h2> Insurance kits:</h2>
    <app-insurance-contract [vehicleId]="vehicle.id"></app-insurance-contract>
  </div>


</div>
