<mat-form-field appearance="fill">
  <mat-label>Choose parameter</mat-label>
  <mat-select [formControl]="parameter">
    <mat-option [value]="'id'">
      id
    </mat-option>
    <mat-option [value]="'color'">
      color
    </mat-option>
    <mat-option [value]="'engineSize'">
      engine size
    </mat-option>
    <mat-option [value]="'weight'">
      weight
    </mat-option>
    <mat-option [value]="'yearOfManufacture'">
      year of manufacture
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Choose direction</mat-label>
  <mat-select [formControl]="backSort">
    <mat-option [value]="'.asc'">
      asc
    </mat-option>
    <mat-option [value]="'.desc'">
      desc
    </mat-option>
  </mat-select>
</mat-form-field>

<button class="btn btn-success" (click)="getPage()">Sort</button>


<table mat-table [dataSource]="vehicles" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.id}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.color}} </td>
  </ng-container>

  <ng-container matColumnDef="engineSize">
    <th mat-header-cell *matHeaderCellDef> Engine size </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.engineSize}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="yom">
    <th mat-header-cell *matHeaderCellDef> Year of manufacturing </th>
    <td mat-cell *matCellDef="let vehicle"> {{vehicle.yearOfManufacturer | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      (click)="onClick(row.id)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="pageEvent.length"
               [pageSize]="pageEvent.pageSize"
               [pageSizeOptions]="[5,10, 25]"
               (page)="onNext(pageEvent = $event)"
               aria-label="Select page">
</mat-paginator>
