<div *ngIf="insuranceContracts">
<mat-card class="card" *ngFor="let contract of insuranceContracts">
  <mat-card-title-group>
    <mat-card-title>Car: {{contract.vehicleClientResponse.color}}</mat-card-title>
    <mat-card-subtitle>
      Id: {{contract.vehicleClientResponse.id}} ||
      Engine size: {{contract.vehicleClientResponse.engineSize}} ||
      Weight: {{contract.vehicleClientResponse.weight}}
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content *ngFor="let kit of contract.insuranceKit">
    <mat-card>
      <mat-card-content>
        Duration: {{kit.duration}}
        <br>
        Compensation percent: {{kit.compensationPercent}}
        <br>
        Damage level: {{kit.damageLevel}}
        <br>
        Covered part: {{kit.coveredPart}}
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
</div>
