<h1 mat-dialog-title>Add new vehicle</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Insurance kits</mat-label>
    <mat-select [formControl]="insuranceKits" multiple>
      <mat-option *ngFor="let kit of insuranceKitList" [value]="kit">
        Duration: {{kit.duration}}
        Compensation: {{kit.compensationPercent}}
        Level: {{kit.damageLevel}}
        Covered {{kit.coveredPart}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="insuranceKits.invalid">{{getInsuranceKitsErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose vehicle</mat-label>
    <mat-select [formControl]="vehicle">
      <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
        {{vehicle.color}} {{vehicle.engineSize}}  {{vehicle.yearOfManufacturer| date:'dd-MM-yyyy'}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="vehicle.invalid">{{getVehicleErrorMessage()}}</mat-error>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [disabled]="insuranceKits.invalid || vehicle.invalid" (click)="onOkClick()">Ok</button>
</div>
