<h1 mat-dialog-title>Add new vehicle</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput [formControl]="color">
    <mat-error *ngIf="color.invalid">{{getColorErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Weight</mat-label>
    <input matInput [formControl]="weight">
    <mat-error *ngIf="weight.invalid">{{getWeightErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Engine size</mat-label>
    <input matInput [formControl]="engineSize">
    <mat-error *ngIf="engineSize.invalid">{{getEngineSizeErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [formControl]="yearOfManufacturer" [matDatepicker]="datepicker">
    <mat-error *ngIf="yearOfManufacturer.invalid">{{getYearOfManufacturerMessage()}}</mat-error>
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [disabled]="color.invalid
                                 || weight.invalid
                                 || engineSize.invalid
                                 || yearOfManufacturer.invalid"
          (click)="onOkClick()">Ok</button>
</div>
