<button style="margin-right: 10px;" class="btn btn-warning" (click)="triggerModal(modalData)">Edit client</button>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update client</h4>
  </div>
  <div class="modal-body">
    <form style="width: 400px; margin-right: auto; margin-left: auto;">

      <div class="form-group">
        <label for="first">
          Name
        </label>

        <input
          class="form-control ng-untouched ng-pristine ng-valid"
          type="text"
          name="first"
          id="first"
          minlength="2"
          maxlength="32"
          [(ngModel)]="client.firstName"
          required
          #first="ngModel"
        />
      </div>
      <div *ngIf="first.invalid && (first.dirty || first.touched)"
           class="alert">
        <div *ngIf="first.errors?.required">
          Name is required.
        </div>
        <div *ngIf="first.errors?.minlength">
          Name must be at least 2 characters long.
        </div>
      </div>


      <div class="form-group">
        <label for="last">
          Surname
        </label>

        <input
          class="form-control ng-untouched ng-pristine ng-valid"
          type="text"
          name="last"
          id="last"
          [(ngModel)]="client.lastName"
          required
          minlength="2"
          maxlength="32"
          #last="ngModel"
        />
      </div>
      <div *ngIf="last.invalid && (last.dirty || last.touched)"
           class="alert">
        <div *ngIf="last.errors?.required">
          Surname is required.
        </div>
        <div *ngIf="last.errors?.minlength">
          Surname must be at least 2 characters long.
        </div>
      </div>


      <div class="form-group">
        <label for="first">
          Birthday
        </label>

        <input
          class="form-control ng-untouched ng-pristine ng-valid"
          type="date"
          name="birthday"
          id="birthday"
          [(ngModel)]="client.birthday"
          required
        />
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="first.invalid || last.invalid" type="submit" class="btn btn-success" (click)="updateClient()">Update</button>
    <button type="button" class="btn btn-danger" #closeB (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
